name: commit-lint

on:
  pull_request:
  push:

jobs:
  commit-lint:
    name: commit-lint
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'latest'
    - name: Install dependencies
      run: npm ci
    # H.T to https://stackoverflow.com/a/67365254/7368162
    - name: Run commitlint
      run: npm run lint:commit
